*{margin:0;padding:0;}
/*.plat{
position:absolute;
width:380px;
height:186px;
margin-left:-190px;
margin-top:-93px;
left:50%;
top:50%;
}
.cricle1,.cricle2,.cricle3,.cricle4,.cricle5{
width:100px;
height:100px;
border:10px solid black;
position:absolute;
border-radius:50%;
}
.cricle1{
left:0;
top:0;
border-color:black;
}
.cricle2{
left:130px;
top:0;
border-color:green;
}
.cricle3{
left:260px;
top:0;
border-color:red;
}
.cricle4{
left:65px;
top:70px;
border-color:blue;
}
.cricle5{
left:195px;
top:70px;
border-color:yellow;
}
.wrapper{
margin-left:100px;
margin-top:100px;
width:100px;
height:100px;
background-color:green;
overflow:hidden;
/*margin塌陷：position:absolute;display:inline-block;float:left/right;overflow:hidden
}
.content{
width:50px;
height:50px;
margin-left:50px;
margin-top:50px;
background-color:black;
}*/
.wrapper{
margin-right:100px;
background-color:green;
}
.content{
margin-left:100px;
background-color:yellow;
}
.demo1{
background-color:green;
margin-bottom:100px;
}
.demo2{
margin-top:200px;
background-color:red;
}
/*margin高度重合解决方法：为父级加上上述四个之一*/